<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Star Wars Universe</title>
        <link rel="stylesheet" type="text/css" href="resources/css/default.css"/>
        <script src="https://d3js.org/d3.v5.min.js"></script>
    </head>
    <body>
      <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <a class="navbar-brand" href="index.html">StarWars Universe - a visualizing project</a>
          <ul class="nav navbar-nav">
            <li class="selected"><a href="index.html">Universe</a></li>
            <li><a href="people.html">People</a></li>
          </ul>
        </nav>
        <div class="main-padding universe-screen">
          <div class="info-section">
              <div class="info">

              </div>
          </div>
          <div class="main-content">
            <div>
              <h1>Episodes</h1>
              <div id="film-div" class="horizontal">
              </div>
              <div id="film-chart" class="chart">
              </div>
            </div>
            <div>
              <h1>Planets</h1>
              <div id="planet-div" class="horizontal">
              </div>
              <div id="planet-chart" class="chart">
              </div>
            </div>
            <div>
              <h1>Starships</h1>
              <div id="starship-div">
              </div>
              <div id="planet-chart" class="chart">
              </div>
            </div>
            <div>
              <h1>Vehicles</h1>
              <div id="vehicle-div">
              </div>
              <div id="planet-chart" class="chart">
              </div>
            </div>
            <div>
              <h1>People</h1>
              <div id="people-div">
              </div>
              <div id="planet-chart" class="chart">
              </div>
            </div>
          </div>
        </div>
        <script type="text/template" id="episode-template">
          <table>
            <tr>
              <th>Title:</th>
              <th><%= title %></th>
            </tr>
            <tr>
              <th>Director:</th>
              <th><%= director %></th>
            </tr>
            <tr>
              <th>Producer:</th>
              <th><%= producer %></th>
            </tr>
            <tr>
              <th>Release Date:</th>
              <th><%= release_date %></th>
            </tr>
            <tr>
              <th>Opening Crawl:</th>
            </tr>
            <tr>
              <th colspan="2"><%= opening_crawl %></th>
            </tr>
          </table>
        </script>
        <script  type="text/template" id="planets-template">
          <div>
            <table>
              <tr>
                <th>Name:</th>
                <th><%= name %></th>
              </tr>
              <tr>
                <th>Population:</th>
                <th><%= population %></th>
              </tr>
              <tr>
                <th>Climate:</th>
                <th><%= climate %></th>
              </tr>
              <tr>
                <th>Diameter:</th>
                <th><%= diameter %></th>
              </tr>
              <tr>
                <th>Gravity:</th>
                <th><%= gravity %></th>
              </tr>
              <tr>
                <th>Orbital period:</th>
                <th><%= orbital_period %></th>
              </tr>
              <tr>
                <th>Rotation period:</th>
                <th><%= rotation_period %></th>
              </tr>
              <tr>
                <th>Survace water:</th>
                <th><%= surface_water %></th>
              </tr>
              <tr>
                <th>Terrain:</th>
                <th><%= terrain %></th>
              </tr>
            </table>
          </div>
        </script>
        <script  type="text/template" id="starships-template">
          <div>
            <img src="<%= "data/images/spaceships/full/" + id + ".jpg" %>" class="starships-image" />
            <table>
              <tr>
                <th>Name:</th>
                <th><%= name %></th>
              </tr>
              <tr>
                <th>Model:</th>
                <th><%= model %></th>
              </tr>
              <tr>
                <th>Manufacturer:</th>
                <th><%= manufacturer %></th>
              </tr>
              <tr>
                <th>Starship Class:</th>
                <th><%= starship_class %></th>
              </tr>
              <tr>
                <th>Consumables:</th>
                <th><%= consumables %></th>
              </tr>
              <tr>
                <th>Cargo capacity:</th>
                <th><%= cargo_capacity %></th>
              </tr>
              <tr>
                <th>Length:</th>
                <th><%= length %></th>
              </tr>
              <tr>
                <th>Atmosphering speed:</th>
                <th><%= max_atmosphering_speed %></th>
              </tr>
              <tr>
                <th>Hyperdrive Rating:</th>
                <th><%= hyperdrive_rating %></th>
              </tr>
              <tr>
                <th>MGLT:</th>
                <th><%= MGLT %></th>
              </tr>
              <tr>
                <th>Cost(credits):</th>
                <th><%= cost_in_credits %></th>
              </tr>
            </table>
          </div>
        </script>
        <script  type="text/template" id="vehicles-template">
          <div>
            <img src="<%= "data/images/vehicles/full/" + id + ".jpg" %>" class="vehicles-image" />
            <table>
              <tr>
                <th>Name:</th>
                <th><%= name %></th>
              </tr>
              <tr>
                <th>Model:</th>
                <th><%= model %></th>
              </tr>
              <tr>
                <th>Manufacturer:</th>
                <th><%= manufacturer %></th>
              </tr>
              <tr>
                <th>Vehicle Class:</th>
                <th><%= vehicle_class %></th>
              </tr>
              <tr>
                <th>Consumables:</th>
                <th><%= consumables %></th>
              </tr>
              <tr>
                <th>Cargo capacity:</th>
                <th><%= cargo_capacity %></th>
              </tr>
              <tr>
                <th>Length:</th>
                <th><%= length %></th>
              </tr>
              <tr>
                <th>Atmosphering speed:</th>
                <th><%= max_atmosphering_speed %></th>
              </tr>
              <tr>
                <th>Cost(credits):</th>
                <th><%= cost_in_credits %></th>
              </tr>
            </table>
  			  </div>
        </script>
        <script  type="text/template" id="people-template">
          <div>
            <img src="<%=" data/images/people/full/" + id + ".jpg" %>" class="people-image" />
            <table>
              <tr>
                <th>Name:</th>
                <th><%= name %></th>
              </tr>
              <tr>
                <th>Birth year:</th>
                <th><%= birth_year %></th>
              </tr>
              <tr>
                <th>Gender:</th>
                <th><%= gender %></th>
              </tr>
              <tr>
                <th>Mass:</th>
                <th><%= mass %></th>
              </tr>
              <tr>
                <th>Height:</th>
                <th><%= height %></th>
              </tr>
              <tr>
                <th>Skin color:</th>
                <th><%= skin_color %></th>
              </tr>
              <tr>
                <th>Hair color:</th>
                <th><%= hair_color %></th>
              </tr>
              <tr>
                <th>Eye color:</th>
                <th><%= eye_color %></th>
              </tr>
            </table>
  			  </div>
  			  <div class="people_description">
            <img src="<%=" data/images/people/full/" + id + ".jpg" %>" class="people-image" />
    			  <span class="people_name"><%= name %></span>
    			  <span class="people_birth_year"><%= birth_year %></span>
    			  <span class="people_gender"><%= gender %></span>
    			  <span class="people_mass"><%= mass %></span>
    			  <span class="people_height"><%= height %></span>
    			  <span class="people_skin_color"><%= skin_color %></span>
    			  <span class="people_hair_color"><%= hair_color %></span>
    			  <span class="people_eye_color"><%= eye_color %></span>
  			  </div>
        </script>

        <script src="vendors/underscore/underscore-min.js"></script>
        <script src="resources/js/Universe/UniverseController.js"></script>
        <script src="resources/js/Universe/UniverseView.js"></script>
        <script src="resources/js/Universe/UniverseModel.js"></script>
        <script src="resources/js/Universe/UniverseAdministration.js"></script>
        <script src="resources/js/Universe/film.js"></script>
        <script src="resources/js/Universe/planet.js"></script>
        <script src="resources/js/Universe/character.js"></script>
        <script src="resources/js/Universe/starship.js"></script>
        <script src="resources/js/Universe/vehicle.js"></script>
    </body>
</html>
