<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Star Wars Universe</title>
        <link rel="stylesheet" type="text/css" href="resources/css/default.css"/>
		
		<!-- Searchapp CSS -->
		<link rel="stylesheet" type="text/css" href="resources/css/people.css">
		<link rel="stylesheet" type="text/css" href="resources/css/peopleApp_slideshow.css">
		<!-------------------------------------------------------------------------------------------------------------------------------->

		</head>
		<body>
		  <div id="wrapper">
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			  <a class="navbar-brand" href="index.html">StarWars Universe - a visualizing project</a>
			  <ul class="nav navbar-nav side-nav">
				<li><a href="index.html">Universe</a></li>
				<li class="selected"><a href="people.html">People</a></li>
				<li><a href="people-piechart.html">People-Piechart</a></li>
			  </ul>
			</nav>
		
		<!-- Searchapp HTML -------------------------------------------------------------------------------------------------------------->
		<content class="content">
			
			<div class="person-menu">
				<input type="text" class="person-search" />
				<ul class="person-list">
				</ul>
			</div>
		 
			<div class="person-gallery">
			<img class="logo_bg" src="data/images/background/logo.png">
				<ul class="person-list">
				</ul>
			</div>
		</content>

		<script type="text/template" id="person-list-entry">
			<li class="person-list-entry" person-id="<%= url %>">
				<img src="<%= "data/images/people/icons/" + url + ".png" %>" class="person-image" />
					<span class="person-name"><%= name %></span>
			</li>
		</script>
		
		<script type="text/template" id="person-entry">
			<li class="person-list-entry" person-id="<%= url %>">
				<img src="<%= "data/images/people/full/" + url + ".jpg" %>" class="person-image"/>
				
				
				
				<div class="person-info-box">
				<button class="btn-close">X</button>
				<span class="person-name"><%= name %></span>
					<span class="person-info-gender"><br>Gender: <%= gender %> 
					<img src="<%= "data/images/people/gender/" + gender + ".png" %>" class="person-image-gender"/>
					</span>
					<span class="person-info-height"><br>Height: <%= height %></span>
					<span class="person-info-skin-color"><br>Skin color: <%= skin_color %>
							<img src="<%= "data/images/people/color circles/" + skin_color + ".png" %>" class="dot"/>
					</span>
					<span class="person-info-hair-color"><br>Hair color: <%= hair_color %>
							<img src="<%= "data/images/people/color circles/" + hair_color + ".png" %>" class="dot"/>
					</span>
					<span class="person-info-eye-color"><br>Eye color: <%= eye_color %>
							<img src="<%= "data/images/people/color circles/" + eye_color + ".png" %>" class="dot"/>
					</span>
				</div>
				
			</li>
		</script>
	<!-------------------------------------------------------------------------------------------------------------------------------->
	
		<!-- Searchapp Underscore -->
		<script src="vendors/underscore/underscore-min.js"></script>
		<!-- Searchapp JS-Files -->
		<script src="resources/js/Searchapp People/PersonApp.js"></script>
		<script src="resources/js/Searchapp People/PersonController.js"></script>
		<script src="resources/js/Searchapp People/PersonListView.js"></script>
		<script src="resources/js/Searchapp People/PersonModel.js"></script>
		<script src="resources/js/Searchapp People/PersonView.js"></script>
		
		<script>
        PersonApp.init();
		</script>
    </body>
</html>
