<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Star Wars Universe</title>
        <link rel="stylesheet" type="text/css" href="resources/css/default.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/donut.css">
		
		
		<!---People CSS, Font--------------------------------------------------------------------------------------------------------------->
		<!-- Searchapp CSS -->
		<link rel="stylesheet" type="text/css" href="resources/css/people.css">
		<!-- Searchapp Fonts -->
		<link rel="stylesheet" href="vendors/font-awesome/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/css?family=Leckerli+One" rel="stylesheet">
		<!-------------------------------------------------------------------------------------------------------------------------------->
		
		
    </head>
    <body>
      <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <a class="navbar-brand" href="index.html">StarWars Universe - a visualizing project</a>
          <ul class="nav navbar-nav side-nav">
            <li><a href="index.html">Universe</a></li>
            <li class="selected"><a href="people.html">People</a></li>
            <li><a href="index.html">and so on</a></li>
          </ul>
        </nav>
		
		
		<!-- People HTML -------------------------------------------------------------------------------------------------------------->
		<content>
			<div class="person-menu">
				<input type="text" class="person-search" />
				<ul class="person-list">
				
				</ul>
			</div>
			
			<div class="person-gallery">
				<ul class="person-list">
				 
				</ul>
			</div>
		</content>

		<script type="text/template" id="person-list-entry">
			<li class="person-list-entry" person-id="<%= url %>">
				<img src="<%= "data/images/people_thumbnails/" + url + ".png" %>" class="person-image" />
					<span class="person-name"><%= name %></span>
			</li>
		</script>
		
		<script type="text/template" id="person-entry">
			<li class="person-list-entry" person-id="<%= url %>">
				<img src="<%= "data/images/people/full/" + url + ".jpg" %>" class="person-image" style="width:100%"/>
				<button class="btn-close">X</button>
				
				<div class="person-interface">
					<div class="person-info-box">
						<span class="person-name"><%= name %></span>
						</div>
					</div>
				</div>
			</li>
		</script>
	<!-------------------------------------------------------------------------------------------------------------------------------->
	
	
	
        <div class="main-padding">
          <div id='inputs'>  
            <input type="radio" name="radData" id="rad1" value="fractionWeightToVis" checked="checked" onclick='change(fractionWeightToVis);' />
            <label for="rad1">Fraction</label>

            <input type="radio" name="radData" id="rad2" value="genToVis" onclick='change(genToVis);' />
            <label for="rad2">Gender</label>

            <input type="radio" name="radData" id="rad3" value="hairColorsToVis" onclick='change(hairColorsToVis);' />
            <label for="rad2">Haircolor</label>

            <input type="radio" name="radData" id="rad4" value="eyeColorsToVis" onclick='change(eyeColorsToVis);' />
            <label for="rad2">Eyecolor</label>

            <input type="radio" name="radData" id="rad5" value="skincolorsToVis" onclick='change(skinColorsToVis);' />
            <label for="rad2">Skincolor</label>
            </div>
           <div class='chartDiv'></div>
        </div>
		
        <script type"text/javascript" src="data/database/films.json"></script>
        <!-- <script type"text/javascript" src="data/database/people.json"></script> -->
        <script type"text/javascript" src="data/database/planets.json"></script>
        <script type"text/javascript" src="data/database/species.json"></script>
        <script type"text/javascript" src="data/database/starships.json"></script>
        <script type"text/javascript" src="data/database/vehicles.json"></script>

        <script src="resources/js/Universe/UniverseController.js"></script>
        <script src="resources/js/Universe/UniverseView.js"></script>
        <script src="resources/js/Universe/UniverseModel.js"></script>
        <script src="resources/js/Universe/UniverseAdministration.js"></script>
        <script src="resources/lib/d3/d3.js"></script>
        <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
        <script type="text/javascript" src="resources/js/Donutchart/donutApp.js"></script>
		
		
		
		<!-------People JS----------------------------------------------------------------------------------------------------------------->
		<!-- Searchapp Underscore -->
		<script src="vendors/underscore/underscore-min.js"></script>
		<!-- Searchapp JS-Files -->
		<script src="resources/js/Searchapp People/PersonApp.js"></script>
		<script src="resources/js/Searchapp People/PersonController.js"></script>
		<script src="resources/js/Searchapp People/PersonListView.js"></script>
		<script src="resources/js/Searchapp People/PersonModel.js"></script>
		<script src="resources/js/Searchapp People/PersonView.js"></script>
		<script>
        PersonApp.init();
		</script>
		<!-------------------------------------------------------------------------------------------------------------------------------->

    </body>
</html>
