body {
     background-image: url("http://media.moddb.com/images/mods/1/12/11431/auto/1358622674space00.jpg");
}


.vert_menu ul { 
   list-style-type: none;
    margin: 20px;
	margin-top: 150px;
    padding: 9px;
    overflow: hidden;
    background-color: rgb(23,12,50);
	position: fixed;
	opacity: 0.7;
}

.vert_menuu ul li { 
display: inline; 
}

.vert_menu ul li a {
	 background-color: rgb(43,29,60);
    display: inline-block;
    color: white;
    display: block;
    padding-left: 15px;
	padding: 20px;
    text-decoration: none;
	font-size: 20px;
}
.vert_menu ul li a:hover {
	 background-color: rgb(204,189,223);
}	
.vert_menu .active{
	 background-color: rgb(204,189,223);
    color: black;
	font-size: 25px;
}

.hor_menu ul { 

    list-style-type: none;
    margin: 20px;
	margin-bottom: 50px;
    padding: 9px;
    overflow: hidden;
    background-color: rgb(23,12,50);
	opacity: 0.7;
	position: fixed;
   
}

.hor_menu ul li { 
    float: left;
	padding-right: 10px;
}

.hor_menu ul li a {
	background-color: rgb(43,29,60);
    display: inline-block;
    color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-size: 20px;
	border-radius: 20px;
}
.hor_menu ul li a:hover {
	background-color: rgb(204,189,223);
}	
.hor_menu .active{
	 background-color: rgb(204,189,223);
    color: black;
	font-size: 25px;
}


