body {
  background: url("../../data/images/background/searchApp_bg_main.jpg") 
}

@font-face {
	font-family: "Star Jedi";
    src: url(Starjedi.ttf);
}

html {
    height: 100%;
    margin: 0
}

.person-menu {
    display: block;
    float: left;
    height: 500px;
    margin: 1em;
    overflow: hidden;
	margin-left: 5%;
	margin-top: 6%;
}

.person-search {
    display: block;
    width: 90%;
    height: 25px;
    padding: 5px 6px;
    border-radius: 6px;
    border-width: 0;
}

.person-search:focus {
    outline-style: none;
    outline-width: 0
}

.person-menu .person-list {
    height: 80%;
    width: 260px;
    list-style-type: none;
    padding: 0;
    overflow-y: auto
}

.person-menu .person-list-entry {
    position: relative;
    width: 98%;
	height: 40px;
    clear: both;
    margin: 8px 0;
	background-color:white;
    border-radius: 60px;
	border-radius: 50px 0 30px 30px;
	cursor: pointer
}

.person-menu .person-image {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0;
    float: left;
    border-radius: 100%;
    border-style: solid;
    border-width: 2px;
    border-color: #FFF
}

.person-menu .person-name {
    display: block;
    font-size: 18px;
	height:40px;
	font-family: "Star Jedi";
    color: #333
}

.person-menu .person-list-entry:hover {
    cursor: pointer;
	background: rgb(154, 143, 167)
}

.person-menu .person-list::-webkit-scrollbar {
    width: 10px;
    background: rgb(204, 189, 223)
}

.person-menu .person-list::-webkit-scrollbar-thumb {
    background: rgb(142, 96, 199)
}

.person-gallery {
    display: block;
    position: relative;
    float: left;
    width: 800px;
    height: 600px;
}

.person-gallery .person-list {
    width: 130%;
    list-style-type: none;
    margin: 0;
    padding: 0
}

.person-gallery .person-list-entry {
    display: block;
    position: relative;
    height: 904px;
    margin: 2em;
    float: left;
}

.person-gallery .person-image {
	margin-top: 26%;
    width: 98%;
    height: 35%;
    border-radius: 1%;
    border-color: #FFF;
    z-index: 1;
	margin-left: 12%;
}

.person-interface {
    display: block;
    position: relative;
    margin-left: 0px;
    border-radius: 0 0 11px 11px;
    z-index: 2;
    overflow: hidden;
    background: rgba(255, 255, 255, .5)
}


.person-gallery .person-name-box {
    text-align: center;
    padding-top: .50em
}

.person-gallery .person-name {
    display: block;
	font-family: 'Star Jedi', cursive;
    font-size: 25px;
	color: black;
}

.person-gallery .btn-close {
    position: relative;
    top: -35.5%;
    left: 100.5%;
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 2% 4%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.person-info-box{
    position: relative;
    margin-left: 130%;
	width: 50%;
    background: rgba(255, 255, 255, .5);
	margin-top: -45%;
    
	text-align: left;
	color: black;
	padding-left: 5%;
}

.dot {
  display: inline-block;
  height: 7%;
  width: 7%;
  border-radius: 50%;
}

.person-gallery .btn-close:hover {
    cursor: pointer;
	background: rgba(255, 119, 119, .5);
}